# Covid-19 Dashboard

##### visualize covid19 information using Tableau

## Abstract

Tableau를 사용한 가시화 프로젝트의 한 예로써 Covid-19 Dashboard에 대하여 실습을 하고자 한다. 코로나 확진자 정보는 매일 업데이트되기에 이를 interactive dashboard를 통해 가시화하는 것은 빠른 시간에 데이터의 동향을 이해하는데 매우 유용하다. 이 노트북에서는 Nguyen Minh Anh의 Covid-19 Tableau Dashboard 구현을 위한 데이터 전처리를 먼저 다룬다.

* Link to Dashboard: [Tableau Public](https://public.tableau.com/app/profile/nguyen.minh.anh/viz/covid19_15924716772030/Dashboard)

이를 위해, 코로나 팬데믹에 따른 관련 데이터를 가장 잘 운영 중인 존스 홉킨즈 대학의 시스템 과학 및 공학 센터 (CSSE; The Center for Systems Science and Engineering)의 깃허브 데이터 리포지토리로부터 실시간 코로나 데이터를 가져온다.

* Data Source: [CSSE](https://github.com/CSSEGISandData/COVID-19)

코로나 데시보드에서 사용하는 지표 중 감염률(infection rate) 등을 구하기 위해서는 해당 국가의 총 인구수 정보가 필요하며, 이를 위해 2020년 국가별 인구수 Kaggle 데이터를 사용한다. 

* Data Source: [Tanu N Prabhu](https://www.kaggle.com/tanuprabhu/population-by-country-2020)

본 프로젝트에서는 Tableau를 이용한 Dashboard 가시화뿐만 아니라 다양한 데이터 소스 (Github, Kaggle)로부터 얻은 정보를 함께 사용할 때 발생되는 이슈들의 해결 방안에 대해서도 학습한다.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Read datasets from CSSE github repo
confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
recoveries = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [ ]:
confirmed.head(5)

  Province/State Country/Region       Lat  ...  10/28/21  10/29/21  10/30/21
0            NaN    Afghanistan  33.93911  ...    156166    156196    156210
1            NaN        Albania  41.15330  ...    183873    184340    184887
2            NaN        Algeria  28.03390  ...    206160    206270    206358
3            NaN        Andorra  42.50630  ...     15505     15516     15516
4            NaN         Angola -11.20270  ...     64226     64301     64374

[5 rows x 652 columns]

In [ ]:
deaths.head(5)

  Province/State Country/Region       Lat  ...  10/28/21  10/29/21  10/30/21
0            NaN    Afghanistan  33.93911  ...      7268      7269      7272
1            NaN        Albania  41.15330  ...      2902      2909      2916
2            NaN        Algeria  28.03390  ...      5907      5913      5918
3            NaN        Andorra  42.50630  ...       130       130       130
4            NaN         Angola -11.20270  ...      1705      1707      1708

[5 rows x 652 columns]

In [ ]:
recoveries.head(5)

  Province/State Country/Region       Lat  ...  10/28/21  10/29/21  10/30/21
0            NaN    Afghanistan  33.93911  ...         0         0         0
1            NaN        Albania  41.15330  ...         0         0         0
2            NaN        Algeria  28.03390  ...         0         0         0
3            NaN        Andorra  42.50630  ...         0         0         0
4            NaN         Angola -11.20270  ...         0         0         0

[5 rows x 652 columns]

In [ ]:
recoveries[['8/4/21','8/5/21']]

     8/4/21  8/5/21
0     82586       0
1    130314       0
2    118409       0
3     14380       0
4     39582       0
..      ...     ...
259   54332       0
260  312320       0
261    4251       0
262  189658       0
263   82994       0

[264 rows x 2 columns]

In [ ]:
for c in range(recoveries.columns.get_loc('8/5/21'),len(recoveries.columns)):
    recoveries.iloc[:,c] = recoveries['8/4/21']

In [ ]:
recoveries.loc[:,'8/4/21':]

     8/4/21  8/5/21  8/6/21  8/7/21  ...  10/27/21  10/28/21  10/29/21  10/30/21
0     82586   82586   82586   82586  ...     82586     82586     82586     82586
1    130314  130314  130314  130314  ...    130314    130314    130314    130314
2    118409  118409  118409  118409  ...    118409    118409    118409    118409
3     14380   14380   14380   14380  ...     14380     14380     14380     14380
4     39582   39582   39582   39582  ...     39582     39582     39582     39582
..      ...     ...     ...     ...  ...       ...       ...       ...       ...
259   54332   54332   54332   54332  ...     54332     54332     54332     54332
260  312320  312320  312320  312320  ...    312320    312320    312320    312320
261    4251    4251    4251    4251  ...      4251      4251      4251      4251
262  189658  189658  189658  189658  ...    189658    189658    189658    189658
263   82994   82994   82994   82994  ...     82994     82994     82994     82994

[264 rows x 88 columns]

## Wide 형식을 Long 형식으로 변환하기 (Transforming Wide to Long format)
CSSE로부터 얻은 데이터 소스는 와이드 형식이며, 이는 Tableau에서 작업하기에 적절하지 않다. 따라서 데이터 전처리의 중요한 작업은 이들 데이터를 롱 형식으로 변환하는 것이다.

In [ ]:
# Transform wide format to long format
confirmed = pd.melt(confirmed, id_vars=confirmed.columns[:4], value_vars = confirmed.columns[4:], var_name = 'date', value_name = 'confirmed')
deaths = pd.melt(deaths, id_vars=deaths.columns[:4], value_vars = deaths.columns[4:], var_name = 'date', value_name = 'deaths')
recoveries = pd.melt(recoveries, id_vars=recoveries.columns[:4], value_vars = recoveries.columns[4:], var_name = 'date', value_name = 'recoveries')

In [ ]:
confirmed.tail(5)

       Province/State      Country/Region  ...      date  confirmed
180787            NaN             Vietnam  ...  10/30/21     915603
180788            NaN  West Bank and Gaza  ...  10/30/21     452997
180789            NaN               Yemen  ...  10/30/21       9779
180790            NaN              Zambia  ...  10/30/21     209722
180791            NaN            Zimbabwe  ...  10/30/21     132926

[5 rows x 6 columns]

In [ ]:
deaths.tail(5)

       Province/State      Country/Region  ...      date  deaths
180787            NaN             Vietnam  ...  10/30/21   22030
180788            NaN  West Bank and Gaza  ...  10/30/21    4663
180789            NaN               Yemen  ...  10/30/21    1880
180790            NaN              Zambia  ...  10/30/21    3661
180791            NaN            Zimbabwe  ...  10/30/21    4675

[5 rows x 6 columns]

In [ ]:
recoveries.tail(5)

       Province/State      Country/Region  ...      date  recoveries
171067            NaN             Vietnam  ...  10/30/21       54332
171068            NaN  West Bank and Gaza  ...  10/30/21      312320
171069            NaN               Yemen  ...  10/30/21        4251
171070            NaN              Zambia  ...  10/30/21      189658
171071            NaN            Zimbabwe  ...  10/30/21       82994

[5 rows x 6 columns]

## 테이블 결합하기 (Combining tables)
다음 단계는 `confirmed`, `deaths`, `recoveries` 테이블을 하나의 테이블로 결합하여 좀더 편리하게 분석할 수 있도록 한다.

하지만, 캐나다의 데이터에서 하나의 문제가 발생한다. `confirmed`와 `deaths` 테이블은 `Province/State`로 캐나다 데이터를 표현하고 있지만, `recoveries` 테이블은 캐나다 전체 데이터를 하나의 값으로 나타내고 있다.

이러한 충돌은 테이블을 함께 결합할 때 일치하지 않는 join key는 생략될 것이기 때문에 사전에 먼저 고려해야 한다.

In [ ]:
confirmed[confirmed['Country/Region'] == 'Canada'].head()

      Province/State Country/Region      Lat      Long     date  confirmed
39           Alberta         Canada  53.9333 -116.5765  1/22/20          0
40  British Columbia         Canada  53.7267 -127.6476  1/22/20          0
41  Diamond Princess         Canada   0.0000    0.0000  1/22/20          0
42    Grand Princess         Canada   0.0000    0.0000  1/22/20          0
43          Manitoba         Canada  53.7609  -98.8139  1/22/20          0

In [ ]:
confirmed[(confirmed['Country/Region'] == 'Canada') & (confirmed['date'] == '1/1/21')]

                  Province/State Country/Region  ...    date  confirmed
96294                    Alberta         Canada  ...  1/1/21     100428
96295           British Columbia         Canada  ...  1/1/21      51990
96296           Diamond Princess         Canada  ...  1/1/21          0
96297             Grand Princess         Canada  ...  1/1/21         13
96298                   Manitoba         Canada  ...  1/1/21      24700
96299              New Brunswick         Canada  ...  1/1/21        601
96300  Newfoundland and Labrador         Canada  ...  1/1/21        390
96301      Northwest Territories         Canada  ...  1/1/21         24
96302                Nova Scotia         Canada  ...  1/1/21       1486
96303                    Nunavut         Canada  ...  1/1/21        266
96304                    Ontario         Canada  ...  1/1/21     187344
96305       Prince Edward Island         Canada  ...  1/1/21         94
96306                     Quebec         Canada  ...  1/1/21     208390
96307     Repatriated Travellers         Canada  ...  1/1/21         13
96308               Saskatchewan         Canada  ...  1/1/21      15350
96309                      Yukon         Canada  ...  1/1/21         60

[16 rows x 6 columns]

In [ ]:
confirmed[(confirmed['Country/Region'] == 'Canada') & (confirmed['date'] == '1/1/21')]['confirmed'].sum()

591149

In [ ]:
# Summarize confirmed and deaths data by date
confirmed_canada = confirmed[confirmed['Country/Region'] == 'Canada'].groupby('date').sum()[['confirmed']]
deaths_canada = deaths[deaths['Country/Region'] == 'Canada'].groupby('date').sum()[['deaths']]

In [ ]:
confirmed_canada.loc['1/1/21':'1/1/21']

        confirmed
date
1/1/21     591149

In [ ]:
# Extract columns from recoveries table
recoveries_canada = recoveries[recoveries['Country/Region'] == 'Canada']
canada_template = recoveries_canada[recoveries_canada.columns[:-1]].reset_index(drop=True)

In [ ]:
recoveries_canada

       Province/State Country/Region      Lat      Long      date  recoveries
39                NaN         Canada  56.1304 -106.3468   1/22/20           0
303               NaN         Canada  56.1304 -106.3468   1/23/20           0
567               NaN         Canada  56.1304 -106.3468   1/24/20           0
831               NaN         Canada  56.1304 -106.3468   1/25/20           0
1095              NaN         Canada  56.1304 -106.3468   1/26/20           0
...               ...            ...      ...       ...       ...         ...
169791            NaN         Canada  56.1304 -106.3468  10/26/21     1405971
170055            NaN         Canada  56.1304 -106.3468  10/27/21     1405971
170319            NaN         Canada  56.1304 -106.3468  10/28/21     1405971
170583            NaN         Canada  56.1304 -106.3468  10/29/21     1405971
170847            NaN         Canada  56.1304 -106.3468  10/30/21     1405971

[648 rows x 6 columns]

In [ ]:
canada_template

    Province/State Country/Region      Lat      Long      date
0              NaN         Canada  56.1304 -106.3468   1/22/20
1              NaN         Canada  56.1304 -106.3468   1/23/20
2              NaN         Canada  56.1304 -106.3468   1/24/20
3              NaN         Canada  56.1304 -106.3468   1/25/20
4              NaN         Canada  56.1304 -106.3468   1/26/20
..             ...            ...      ...       ...       ...
643            NaN         Canada  56.1304 -106.3468  10/26/21
644            NaN         Canada  56.1304 -106.3468  10/27/21
645            NaN         Canada  56.1304 -106.3468  10/28/21
646            NaN         Canada  56.1304 -106.3468  10/29/21
647            NaN         Canada  56.1304 -106.3468  10/30/21

[648 rows x 5 columns]

`pd.merge(
    left,
    right,
    how="inner",
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)`

* `left_on`은 왼쪽 DataFrame으로부터 columns 혹은 index level을 key로 사용한다는 의미이다.
* `right_index = True`는 오른쪽 DataFrame으로부터 index (혹은 row labels)를 join key로 사용한다는 의미이다.

In [ ]:
# Join aggrregated confirmed and deaths data with extracted columns
confirmed_canada = canada_template.merge(confirmed_canada, how='inner', left_on='date', right_index=True)
deaths_canada = canada_template.merge(deaths_canada, how='inner', left_on='date', right_index=True)

In [ ]:
confirmed_canada.head()

  Province/State Country/Region      Lat      Long     date  confirmed
0            NaN         Canada  56.1304 -106.3468  1/22/20          0
1            NaN         Canada  56.1304 -106.3468  1/23/20          0
2            NaN         Canada  56.1304 -106.3468  1/24/20          0
3            NaN         Canada  56.1304 -106.3468  1/25/20          0
4            NaN         Canada  56.1304 -106.3468  1/26/20          1

In [ ]:
deaths_canada.head()

  Province/State Country/Region      Lat      Long     date  deaths
0            NaN         Canada  56.1304 -106.3468  1/22/20       0
1            NaN         Canada  56.1304 -106.3468  1/23/20       0
2            NaN         Canada  56.1304 -106.3468  1/24/20       0
3            NaN         Canada  56.1304 -106.3468  1/25/20       0
4            NaN         Canada  56.1304 -106.3468  1/26/20       0

In [ ]:
# Add the agrregated data for Canada back to confirmed and deaths table
confirmed = confirmed[confirmed['Country/Region'] != 'Canada'].append(confirmed_canada)
deaths = deaths[deaths['Country/Region'] != 'Canada'].append(deaths_canada)

In [ ]:
# Join confirmed, deaths and recoveries data together
data = confirmed.merge(deaths, how='inner',on=['Country/Region','Province/State','date']).merge(recoveries, how='inner',on=['Country/Region','Province/State','date'])
data['recoveries'] = data['recoveries'].astype("int")
data = data[['Province/State','Country/Region','date','Lat','Long','confirmed','deaths','recoveries']]

In [ ]:
data.sample(10)

       Province/State        Country/Region  ...  deaths  recoveries
140586            NaN          Korea, South  ...    2038      153153
136955            NaN                  Peru  ...  191447     2001357
131094            NaN                Greece  ...   12184       93764
60477      Montserrat        United Kingdom  ...       1          12
41269             NaN  United Arab Emirates  ...     310       35469
20280             NaN              Botswana  ...       1           0
16595             NaN                Bhutan  ...       0           0
152145            NaN                 India  ...  434756    30974748
61162             NaN                Kuwait  ...     556       83040
31385             NaN               Denmark  ...     554        9536

[10 rows x 8 columns]

## 인구수 데이터 (Population Data)
코로나-19 데시보드에서 사용하는 값 중에 감염률(infection rate)은 $confirmed / population$으로 구해진다. 각 국가별 인구수는 CSSE 데이터셋에서는 구할 수가 없기 때문에 다른 데이터 소스를 결합할 필요가 있다. 이를 위해 다음의 Kaggle 데이터를 사용한다.

Source: [Tanu N Prabhu](https://www.kaggle.com/tanuprabhu/population-by-country-2020)

Kaggle 데이터를 구하는 과정은 **[프로젝트 02] 세계행복보고서**를 참조하도록 하자.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"

In [ ]:
from os import path

if path.exists("/content/gdrive/My Drive/Kaggle"):
    print("Kaggle 디렉토리는 이미 있습니다.")
else:
    %mkdir "/content/gdrive/My Drive/Kaggle"

Kaggle 디렉토리는 이미 있습니다.

In [ ]:
%cd /content/gdrive/My Drive/Kaggle

/content/gdrive/My Drive/Kaggle

이미 Kaggle로 부터 인구수 데이터를 다운로드하였다면 아래의 모듈은 더이상 반복해서 수행하지 않도록 하였습니다.

In [ ]:
# Kaggle로부터 인구수 데이터를 다운로드하는 모듈

def getPopulationFromKaggle():
    # 이 API Command는 해당 사이트에서 직접 복사해옴 
    !kaggle datasets download -d tanuprabhu/population-by-country-2020

    %mkdir input/covid-19
    %mv population-by-country-2020.zip input/covid-19

    %cd input/covid-19

    !unzip \*.zip && rm *.zip

In [ ]:
if not path.exists("input"): # input directory가 없을 경우에만 생성
    %mkdir input
if not path.exists("input/covid-19"): # covid-19 디렉토리가 없는 경우 캐글로부터 데이터를 가져옴
    getPopulationFromKaggle()
else:
    %cd input/covid-19
    print("input/covid-19 디렉토리가 있으므로 인구수 데이터를 다운로드한 것으로 판단함")

/content/gdrive/My Drive/Kaggle/input/covid-19
input/covid-19 디렉토리가 있으므로 인구수 데이터를 다운로드한 것으로 판단함

In [ ]:
# Read dataset
population = pd.read_csv('/content/gdrive/MyDrive/Kaggle/input/covid-19/population_by_country_2020.csv')

In [ ]:
population.sample(10)

    Country (or dependency)  Population (2020)  ... Urban Pop %  World Share
63               Kazakhstan           18815231  ...        58 %       0.24 %
2             United States          331341050  ...        83 %       4.25 %
49                Venezuela           28421581  ...        N.A.       0.36 %
214        Turks and Caicos              38806  ...        89 %       0.00 %
208               Greenland              56787  ...        87 %       0.00 %
4                  Pakistan          221612785  ...        35 %       2.83 %
187                   Samoa             198643  ...        18 %       0.00 %
147         North Macedonia            2083359  ...        59 %       0.03 %
163                  Guyana             787215  ...        27 %       0.01 %
29                    Spain           46757980  ...        80 %       0.60 %

[10 rows x 11 columns]

여러 소스로부터 구한 데이터를 결합하는 과정에서 항상 발생될 수 있는 문제는 값의 이름이 일치하지 않는 것이다.

In [ ]:
for c in data['Country/Region'].unique():
  if c not in population['Country (or dependency)'].unique():
    print(c)

Burma
Congo (Brazzaville)
Congo (Kinshasa)
Cote d'Ivoire
Czechia
Diamond Princess
Korea, South
Kosovo
MS Zaandam
Saint Kitts and Nevis
Saint Vincent and the Grenadines
Sao Tome and Principe
Summer Olympics 2020
Taiwan*
US
West Bank and Gaza

위에서 처럼 코로나-19에 있는 국가명이 인구수 데이터의 국가명과 일치하지 않거나 없는 국가명이 다소 있으며, 이는 불행히도 수작업으로 직접 수정하여야 한다.

이때 population 데이터에 있는 국가명을 참조하기 위해서 다음 코드를 실행시켜 결과를 확인해보자.

In [ ]:
data[data['Country/Region'] == 'Kosovo']

       Province/State Country/Region      date  ...  confirmed  deaths  recoveries
145               NaN         Kosovo   1/22/20  ...          0       0           0
408               NaN         Kosovo   1/23/20  ...          0       0           0
671               NaN         Kosovo   1/24/20  ...          0       0           0
934               NaN         Kosovo   1/25/20  ...          0       0           0
1197              NaN         Kosovo   1/26/20  ...          0       0           0
...               ...            ...       ...  ...        ...     ...         ...
169254            NaN         Kosovo  10/26/21  ...     160658    2975      105688
169517            NaN         Kosovo  10/27/21  ...     160680    2976      105688
169780            NaN         Kosovo  10/28/21  ...     160696    2976      105688
170043            NaN         Kosovo  10/29/21  ...     160724    2976      105688
170306            NaN         Kosovo  10/30/21  ...     160749    2976      105688

[648 rows x 8 columns]

In [ ]:
for c in population['Country (or dependency)'].unique():
  if c not in data['Country/Region'].unique():
    print(c)

United States
DR Congo
Myanmar
South Korea
Côte d'Ivoire
North Korea
Taiwan
Czech Republic (Czechia)
Hong Kong
Turkmenistan
Congo
State of Palestine
Puerto Rico
Réunion
Macao
Western Sahara
Guadeloupe
Martinique
French Guiana
New Caledonia
French Polynesia
Mayotte
Sao Tome & Principe
Channel Islands
Guam
Curaçao
St. Vincent & Grenadines
Aruba
Tonga
U.S. Virgin Islands
Isle of Man
Cayman Islands
Bermuda
Northern Mariana Islands
Greenland
American Samoa
Saint Kitts & Nevis
Faeroe Islands
Sint Maarten
Turks and Caicos
Saint Martin
Gibraltar
British Virgin Islands
Caribbean Netherlands
Cook Islands
Anguilla
Tuvalu
Wallis & Futuna
Nauru
Saint Barthelemy
Saint Helena
Saint Pierre & Miquelon
Montserrat
Falkland Islands
Niue
Tokelau

In [ ]:
country_mapper = {
    'Burma': 'Myanmar',
    'Congo (Brazzaville)': 'Congo',
    'Congo (Kinshasa)': 'Congo',
    "Cote d'Ivoire": "Côte d'Ivoire",
    'Czechia': 'Czech Republic (Czechia)',
    'Korea, South': 'South Korea',
    'Saint Vincent and the Grenadines': 'St. Vincent & Grenadines',
    'Saint Kitts and Nevis': 'Saint Kitts & Nevis',
    'Sao Tome and Principe': 'Sao Tome & Principe',
    'Taiwan*': 'Taiwan',
    'US': 'United States',
    'West Bank and Gaza': 'Israel'
}
data['Country/Region'] = data['Country/Region'].replace(country_mapper)
data.index = data['Country/Region']

위에서 맵핑이 어려운 국가명은 Diamond Princess, Kosovo, MS Zaandam, Summer Olympics 2020으로 Diamond Princess, MS Zaandam은 유람선 내의 코로나 환자수 상황을 위한 것이고, Summer Olympics 2020 역시 올림픽 행사를 위해 임시로 만든 것이므로 이번 프로젝트에서는 다루지 않는 것으로 한다. 그리고 Kosovo의 인구수 (1,804,376)는 Seribia의 인구수(6,926,705)에 포함되어 있기에 이를 분리할 필요가 있다. *이 부분은 추후 다시 확인하도록 한다.*

In [ ]:
population[population['Country (or dependency)'] == 'Serbia']

   Country (or dependency)  Population (2020)  ... Urban Pop %  World Share
98                  Serbia            8731081  ...        56 %       0.11 %

[1 rows x 11 columns]

In [ ]:
data[data['Country/Region'] == 'Kosovo']

               Province/State Country/Region  ... deaths  recoveries
Country/Region                                ...
Kosovo                    NaN         Kosovo  ...      0           0
Kosovo                    NaN         Kosovo  ...      0           0
Kosovo                    NaN         Kosovo  ...      0           0
Kosovo                    NaN         Kosovo  ...      0           0
Kosovo                    NaN         Kosovo  ...      0           0
...                       ...            ...  ...    ...         ...
Kosovo                    NaN         Kosovo  ...   2975      105688
Kosovo                    NaN         Kosovo  ...   2976      105688
Kosovo                    NaN         Kosovo  ...   2976      105688
Kosovo                    NaN         Kosovo  ...   2976      105688
Kosovo                    NaN         Kosovo  ...   2976      105688

[648 rows x 8 columns]

In [ ]:
# Export data
data.to_csv('covid19.csv')

## Tableau 데시보드 만들기

이제 잘 다듬어진 데이터를 이용하여 데시보드를 만들어보자.

#Dashboard Link: https://public.tableau.com/app/profile/jeongsik.park/viz/20181141391/Dashboard